.menu-bar{
    background-color: lightslategray !important;
    color: whitesmoke ! important;
}

.title{
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    left: 40%;
}
.middle{
    color: black;
    position: absolute;
    left: 35%;
    top: 50%;
}

a {
    size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

button{
    margin-left: 20px;
}